extends layout 
block content
    
    title register truck drivers
    
    link(rel='stylesheet', href='/css/pugForm.css')
      
    body
      .main-content
          header
            h2
              .header-title
                img#logoArea(src="/images/signage2.png")
                label(for='')
                
                |                 STAY CLEAN
    
        
          .container-fluid
          .row
            .col-3
              
            
            .col-5
              .card 
                h5 DRIVER REGISTRATION FORM
                .card-body 
                
                  form(method='POST',action='/driver/driverReg', name='driverRegForm')
                    
                    label(for='fname') First Name
                    |         
                    input#fname(type='text', name='firstname', placeholder="Driver's First Name")
                    p.fname_info.warnP|     
                    |         
                    
                    label(for='lname') Last Name
                    |         
                    input#lname(type='text', name='lastname', placeholder="Driver's First Name")
                    p.lname_info.warnP|     
                    |         
                    
                    label(for='gender') Gender
                    |         
                    select#gender(name='gender')
                      option(value='')
                      |  
                      |         
                      option(value='Female') Female
                      |         
                      option(value='Male') Male
                    p.gender_info.warnP
                    
                    label(for='age') Age 

                    input#age(type='number',name='age')
                    |         
                    p.age_info.warnP
                    
                    label(for='date') D.O.B:              
                    input#date(type='date', name='date')
                    p.date_info.warnP|     
                    |         
                    
                    label(for='telephoneNo') phone Number
                    input#telephoneNo(type='string', name='telephoneNo')
                    p.telephoneNo_info.warnP

                    label(for='nin') NIN    
                    input#nin(type='text', name='nin', placeholder="Driver's Identification Number", *='')
                    p.nin_info.warnP|     
                    |         
                    label(for='dresidence') Residence        
                    input#dresidence(type='text', name='dresidence', placeholder="Driver's Residence No.")
                    p.dresidence_info.warnP     
                    |         
                    label(for='pincidences') Past Incidences       
                    select#pincidences(name='pincidences')
                      option(value='') -select option-
                      |           
                      option(value='accidents') accidents
                      |           
                      option(value='fights') Fights
                      |           
                      option(value='theft') Theft
                      |           
                      option(value='none') None
                    p.pincidences_info.warnP
                              
                      

                  


                    input(type='submit', value='Submit')
              .col-4
            script.
            script(src='/javascript/driverVal.js')
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
            script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js', integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0', crossorigin='anonymous')
