extends layout 
block content


      title register employees
      
        
      // Connects externel css to the pug code.
      link(rel='stylesheet', href='/css/pugForm.css')

          
      body
      
      .main-content
          // This is the code for the header.
          header
            h2
              .header-title
                label(for='')
                  span.las.la-bars
                |                 STAY CLEAN
            |       
        
          .container-fluid
            .row
              .col-3
                
              
              .col-5
                .card 
                  h5 EMPLOYEE REGISTRATION FORM
                  .card-body 

                    // Form for the employee registration.

                    form(method='POST',action='/employee/employeeReg', name='employeeRegForm',enctype="multipart/form-data")
                      label(for='fname') First Name
                      |         
                      input#fname(type='text', name='firstname', placeholder=" First Name")
                      p.fname_info.warnP
                      
                      |     
                      br|         
                      label(for='lname') last Name
                      |         
                      input#lname(type='text', name='lastname', placeholder="last Name")
                      |     
                      p.lname_info.warnP        
                      label(for='gender') Gender
                      |         
                      select#gender(name='gender',placeholder="select gender")
                        option(value='')
                        |  
                        |         
                        option(value='Female') Female
                        |         
                        option(value='Male') Male
                      p.gender_info.warnP
                      br
                      label(for='age') Age

                      input#age(type='number', name='age', placeholder="age")
                      p.age_info.warnP

                      label(for='nin') NIN
                      input#nin(type='string', name='nin', placeholder="nin")|         
                      p.nin_info.warnP
                      
                      label(for='date') Date of birth|        
                      input#date(type='date', name='date', placeholder='date of birth')
                      p.date.warnP|     
                      
                      label(for='telephoneNo') phone Number
                      |         
                      input#telephoneNo(type='string', name='telephoneNo')
                      p.telephoneNo_info.warnP
                      
                      label(for='location')  location
                      input#location(type='string', name='location')
                      p.location_info.warnP

                      label(for='gender') Gender
                      |         
                      select#role(name='role',placeholder="select ")
                        option(value='') --Select Role
                        |  
                        |         
                        option(value='front desk officer') Front Desk Officer
                        |         
                        option(value='driver') Driver
                        option(value=' officer')  Officer
                        |         
                        option(value='conductor') Conductor 
                        option(value='admin') Adminstrator
                        |         
                        option(value='humanResource') Human Resource 
                        option(value='others') Other
                        |         
                        
                      p.role_info.warnP
                      
                      label(for='image') Image
                      input#image(type='file', name='image')    
                      p.image_info.warnP
                      br
                      input(type='submit', value='REGISTER')

      
         
          // Connecting javascript to pug.
          script(src='/javascript/employeeVal.js')    
          script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js', integrity='sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf', crossorigin='anonymous')
            
                      