extends layout
block content
    head 
    div
      .mybanner
        h2
          | STAY CLEAN-
          i The cleanest option!

        script(type='text/javascript').
                document.write("<left><font size=+2 style='color: blue;'>");
                var day = new Date();
                var hr = day.getHours();
                
                if (hr >= 0 && hr < 12) {
                document.write("Good Morning!Welcome to STAY CLEAN!");
                } else if (hr == 12) {
                document.write("Good Noon!Welcome to STAY CLEAN!");
                } else if (hr >= 12 && hr <= 17) {
                document.write("Good Afternoon!Welcome to STAY CLEAN!");
                } else {
                document.write("Good Evening!Welcome to STAY CLEAN!");
                }
                document.write("</font></left>");
    
    nav.navbar.navbar-expand-lg.navbar-light.bg-success
      .container-fluid
        a.navbar-brand(href='#') Navbar
        |     
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        |     
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.me-auto.mb-2.mb-lg-0
            li.nav-item
              a.nav-link.active(aria-current='page', href='#') Home
            |         
            li.nav-item
              a.nav-link(href='#') Link
            |         
            li.nav-item.dropdown
              a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                | Dropdown
              |           
              ul.dropdown-menu(aria-labelledby='navbarDropdown')
                li
                  a.dropdown-item(href='#') Action
                |             
                li
                  a.dropdown-item(href='#') Another action
                |             
                li
                  hr.dropdown-divider
                |             
                li
                  a.dropdown-item(href='#') Something else here
            |         
            li.nav-item
              a.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') Disabled
          |       
                
          button.btn.btn-outline-success(type='submit') Search
    body
    .container
    .row
      .col-3 
            .card(style='width: 18rem;')
            img.card-img-top(src='./images/image3.jpg', alt='...')
       
            .card-body
            
           
            |     
            a.btn.btn-primary(href='/driver/driverReg') Register driver
            br
            a.btn.btn-primary(href='/conductor/conductorReg') Register conductor
            br
            a.btn.btn-primary(href='/request/customerReq') Record customer request
            br
            a.btn.btn-primary(href='#') Enter New Truck
            br
            a.btn.btn-primary(href='#') Register Employee
      .col-6 
             
      .col-3 

       
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js', integrity='sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf', crossorigin='anonymous')
