doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewpoint" content="=*width=device-width, initial-scale=1.0*")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    link(rel='stylesheet', href='/css/driver.css')
    
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl', crossorigin='anonymous')
    title updateEmployee
    
    

    
    
            h4 Welcome
            body
          

    div.form-row
        div.col.form-group.col-md-12   
            div.form-row
                div.col-md-10
                    p Here is your information #{user.firstname}
    div.form-row
        img(src='/'+user.image width="150px" height="170px")
    form(method="post" action="/employee/update?id="+user._id)
        table.table
            thead.thead-dark
                tr
                    th Firstname
                    td 
                        input.form-control(value = user.fname name ="fname")
                tr
                    th Lastname
                    td 
                        input.form-control(value = user.lname name ="lname")
                
                tr
                    th NIN
                    td 
                        input.form-control(value = user.nin name ="nin")
                
                
                tr
                    th Gender
                        td 
                            label Male&nbsp
                            input(value= "male" type="radio" checked = user.gender==="male" name="gender") 
                            label &nbspFemale&nbsp
                            input(value= "female" type="radio" checked = user.gender==="female" name="gender")
                
                tr
                    th Age 
                        td 
                             input.form-control(value = user.age name ="age")

                tr
                    th D.O.B
                        td 
                             input.form-control(value = user.date name ="date")             
                tr 
                    th TelNo. 
                        td
                             input.form-control(value = user.telephoneNo name ="telephoneNo")   

                tr
                    th location
                        td 
                               input.form-control(value = user.location name ="location")  
                tr
                    th role 
                        td 
                            label front desk&nbsp
                            input(value= "driver" type="radio" checked = user.role==="front desk officer" name="role") 
                            label &nbspdriver&nbsp
                            input(value= "driver" type="radio" checked = user.role==="driver" name="role")
                            label &nbspofficer&nbsp
                            input(value= "officer" type="radio" checked = user.role==="officer" name="role") 
                            label &nbspconductor&nbsp
                            label &nbspadmin&nbsp
                            input(value= "admin" type="radio" checked = user.role==="admin" name="role")
                            label &nbsphumanResourcer&nbsp
                            input(value= "humanResource" type="radio" checked = user.role==="humanResource" name="role") 
                            label &nbspothers&nbsp
                            input(value= "other" type="radio" checked = user.role==="other" name="role")    


                            tr
                        td(colspan=2)
                            button.btn.btn-dark.btn-block(type="submit") Update
            