doctype html
html(lang='en')
  head
    meta(charset="UTF-8")
    meta(name="viewpoint" content="=*width=device-width, initial-scale=1.0*")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    link(rel='stylesheet', href='/css/driver.css')
    
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl', crossorigin='anonymous')
    title updateTruck
    
    

    
    
            h4 Welcome
            body
          

    div.form-row
        div.col.form-group.col-md-12   
            div.form-row
                div.col-md-10
                    p Here information of truck #{truck.codeNumber}
    div.form-row
        
    form(method="post" action="/truck/update?id="+truck._id)
        table.table
            thead.thead-dark
                tr
                    th Registration number
                    td 
                        input.form-control(value = truck.regNumber name ="regNumber")
                tr
                    th Truck code Number
                    td 
                        input.form-control(value = truck.codeNumber name ="codeNumber")
                tr
                    th Type of truck
                        td 
                            label &nbsp
                            input(value= "" type="radio" checked = truck.truckService==="" name="truckService") 
                            label &nbspSewage Truck&nbsp
                            input(value= "sewage" type="radio" checked = truck.truckService==="sewage" name="truckService")
                            label &nbspGarbage Truck&nbsp
                            input(value= "garbage" type="radio" checked = truck.truckService==="garbage" name="truckService")
               
                
                tr
                    td(colspan=2)
                        button.btn.btn-dark.btn-block(type="submit") Update
