/* @import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); */
:root {
    --main-color:orange;
    --color-dark: #1D2231;
    --text-grey: #8390A2;

}
body{
    min-height: 100px;
    background:#e432a3;
} 
  * {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.navigation{
    position:fixed;
    width:60px;
    height:100%;
    background:#0F292F;
    transition:1s;
    overflow:hidden;
}
.navigation:hover,
.navigation.active
{
    width:300px;

}
.navigation ul{
    position: absolute;
    top:0;
    left:0;
    width:100%;
}
.navigation ul li{
    position: relative;
    width:100%;
    list-style: none;
}
.navigation ul li:hover{
    background:#50153A;
}
.navigation ul li a{
    position: relative;
    display: block;
    width:100%;
    display:flex;
    text-decoration: none;
    color:#fff;
}
.navigation ul li a .icon{
    position:relative;
    display:block;
    min-width:60px;
    height:60px;
    line-height:60px;
    text-align:center;
}
.navigation ul li a .icon .fa{
    font-size: 24px;

}
.navigation ul li a .title{
   position:relative;
   display:block;
   min-width:60px;
   height:60px;
   line-height:60px;
   text-align:center;   
}
.toggle{
    position: absolute;
    top:0;
    left: 20%;
    width:100px;
    height:60px;
    background:#CB2D6F;
    cursor: pointer;
}
.toggle:active{
    background:#CB2D6F;;
}
.toggle:before{
    content:'\f0c9';
    font-family: fontAwesome;
    position:absolute;
    width: 100px;
    height: 100px;
    line-height:60px;
    text-align:center;
    font-size:24px;
    color:#fff;
}
.toggle.active:before{
    content: '\f00d';
}
@media (max-width:767px){
    .navigation{
        left: -60px;
    }
    .navigation.active{
        right:0px;
        width:100%;
    }
}
#nav-toggle:checked ~.main-content {
    margin-left:70px;

}
#nav-toggle:checked ~ .main-content header {
    width: calc(100% - 70px);
    left: 70px;

}
.main-content{
    transition: margin-left 300ms;
    margin-left: 345px;
}

header{
    background-color:#1b5e4b;;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    left: 345px;
    width: 80%;
    top:0;
    z-index: 100;
    transition: left 300ms;
    color:honeydew;
    font-size:20px;
    
}
#nav-toggle{
    display:none;
}
header h2{
    color: honeydew;
}

header label span{
    font-size: 1.7rem;
    padding-right: 1rem;

}
.search-wrapper{
    border: 1px solid #ccc;
    border-radius:60px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    background: green;
}

.search-wrapper span{
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}
.search-wrapper input{
    height:100%;
    padding:.5rem;
    border: none;
    outline: none;
}

.user-wrapper{
    display:flex;
    align-items: center;
}
.user-wrapper img{
    border-radius:50%;
    margin-right: 1 rem;
}
.user-wrapper small{
    display: inline-block;
    color: var(--text-grey);
}
main{
    margin-top: 87px;
    padding: 2rem 1.5rem;
    background: honeydew;
    min-height: calc(100vh - 90px);
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:2rem;
    margin-top: 1 rem;
}
.card-single{
    display: flex;
    justify-content: space-between;
    background:#aab8bb;
    padding:2rem;
    border-radius:2px;
}
.card-single div:last-child span{
    font-size: 3rem;
    color: var(--main-color);
    
}
.card-single div:first-child span{
    color: #965671;
    
}
.card-single:last-child{
    background: #8d5378;
}
.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span{
    color:#fff;
}
.recent-grid{
    margin-top: 3.5rem;
    display:grid;
    grid-gap: 2rem;
    grid-template-columns: 67 auto ;
}
.card{
    background: #fff;
    border-radius:5px;
}
.card-header,
.card-body{
    padding:1rem;
}
.card-header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom:1px solid #f0f0f0;
    color:green;

}
.card-header button{
    background: var(--main-color);
    border-radius: 10px;
    color:#fff;
    font-size: .8rem;
    padding:.5rem 1rem;
    border:1px solid var(--main-color);
}
table{
    border-collapse: collapse;
}
thead tr{
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    
    text-transform: uppercase;
    color:black;
    font-weight: bold;
}
thead td{
    font-weight:700;
   
    
}
td{
    padding:.5rem 1rem;
    font-size:.9rem;
    color:#222;
    
}

td .status{
    display:inline-block;
    height: 20px;
    width:20px;
    border-radius:50%;
}
tr td:last-child{
    display: flex;
    align-items:center;
}
.status.purple{
    color:rebeccapurple;
}
.status.pink{
    color:deeppink;
}
.status.orange{
    color:orangered;

}
.table-responsive{
    width:100%;
    overflow-x:auto;
}
.customer{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.info{
display:flex;
align-items:center;
}
.info img{
    border-radius:50%;
    margin-right: 1rem;

}
.info h4{
    font: size 0.8rem;
    font-weight:700;
    color:#222;
}
.info small{
    font-weight: 600;
    color: var(--text-grey);
}
.contact span{
    font-size:1.2rem;
    display: inline-block;
    margin-left:.5rem;
    color:var(--main-color);
}
#nav-toggle{
    display:none;
}
@media only screen and (max-width: 1200px){
    .sidebar {
        width:70px;
    
    }
     .sidebar .sidebar-brand h2 span,
    .sidebar li {
        padding-left: 1rem;
        text-align: center;
    } 
    .sidebar li a{
        padding-left: 0rem;
    } 
    
    
    .sidebar.sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child
    {
        display:none;
    }
    .main-content {
        margin-left:70px;
    
    }
    main-content header{
        width:calc(100% - 70px);
        left:70px;
    }
}
@media only screen and (max-width:960px){
    .cards{
        grid-template-columns: repeat(3,1fr);
    }
    .recent-grid{
        grid-template-columns: 60% 40%;
    }

}
@media only screen and (max-width:768px){
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
    .recent-grid{
        grid-template-columns: 100%;
    }
    .search-wrapper{
        display:none;
    }

}
@media only screen and (max-width:768px){
    .cards{
        grid-template-columns: 100%;
    }
}